@using NutritionalValuesStaticGenerator.Data
@model DetailsModel
<div class="col-md-3">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Left -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1267228462498826" data-ad-slot="2971427998" data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Details:</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Name:</dt>
                <dd>@model</dd>
                @*<dt>{{ "weight" | translate | capitalize }}:</dt>
                <dd>{{ 100 | grams }}</dd>
                <dt>{{ "calories" | translate | capitalize }}:</dt>
                <dd>{{ item.calories }}</dd>
                <dt>{{ "carbohydrate" | translate | capitalize }}:</dt>
                <dd>{{ item.carbohydrate | grams}}</dd>
                <dt>{{ "protein" | translate | capitalize }}:</dt>
                <dd>{{ item.protein | grams }}</dd>
                <dt>{{ "fiber" | translate | capitalize }}:</dt>
                <dd>{{ item.fiber | grams }}</dd>
                <dt>{{ "sugar" | translate | capitalize }}:</dt>
                <dd>{{ item.sugar | grams }}</dd>
                <dt>{{ "fat" | translate | capitalize }}:</dt>
                <dd>{{ item.fat | grams }}</dd>*@
            </dl>
        </div>
    </div>
    <a class="btn btn-default" href="#list">Back to list</a>
</div>
<div class="col-md-3">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Right -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1267228462498826" data-ad-slot="7401627592" data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>