@using Web.Models
@model ListModel

<!DOCTYPE html>
<html>
<head>
    <title>www.nuritionalvalues.cf - nutritional data, nutritional values, calories, carbohydrates, fat</title>
    <meta charset="UTF-8">
    <meta content="nutritional data, nutritional values, calories, carbohydrates, fat" name="Description">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="distribution" content="global">
    <meta name="classification" content="nutrition">
    <meta name="rating" content="general">
    <meta name="page-topic" content="www.nuritionalvalues.cf - nutritional data, nutritional values, calories, carbohydrates, fat">
    <meta name="Date" content="2016/03/26">
    <meta name="Robots" content="index,follow">
    <meta name="revisit-after" content="1 Days">
    <meta name="google-site-verification" content="7NfzK_5w2PAx45zyxjOVIMf0D7TnnTvHDLQoo4fDfoI" />

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="basic-js-cookie-banner.min.css">
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="basic-js-cookie-banner.js"></script>
</head>

<body>
     
    <div class="container">
        <div class="col-md-12">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Nutritional Values</a>
                        </div>
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="index.html"><i class="fa fa-shield"></i>List</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="about.html"><i class="fa fa-shield"></i>About</a></li>
                        </ul>
                    </div>
                </nav>
            </header>

            <div id="main">
                <div class="col-md-2">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Left -->
                    <ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-1267228462498826" data-ad-slot="2971427998" data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="col-md-8">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <td>Name</td>
                            <td>Kcal</td>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td><a href="@string.Format("details_{0}.html", item.NormalizedName)">@item.Name</a></td>
                                    <td>@item.Calories</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Right -->
                    <ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-1267228462498826" data-ad-slot="7401627592" data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning alert-dismissible cookie-banner" role="alert">
            <div style="display: none;" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></div>
            We use cookies to improve your experience. Please read our <a href="http://www.google.com/intl/en/policies/privacy/partners/">cookie policy</a>        for more information about how we use cookies.
        </div>
    <div class="container">
        <center>
            <!-- stat.4u.pl NiE KaSoWaC -->
            <a target=_top href="http://stat.4u.pl/?elegba" title="statystyki stron WWW"><img alt="stat4u" src="http://adstat.4u.pl/s4u.gif" border="0"></a>
            <script language="JavaScript" type="text/javascript">
                <!--
    function s4upl() { return "&amp;r=er"; }
    //-->
            </script>
            <script language="JavaScript" type="text/javascript" src="http://adstat.4u.pl/s.js?elegba"></script>
            <script language="JavaScript" type="text/javascript">
                <!--
    s4uext = s4upl();
    document.write('<img alt="stat4u" src="http://stat.4u.pl/cgi-bin/s.cgi?i=elegba' + s4uext + '" width="1" height="1">')
    //-->
            </script>
            <noscript><img alt="stat4u" src="http://stat.4u.pl/cgi-bin/s.cgi?i=elegba&amp;r=ns" width="1" height="1"></noscript>
            <!-- stat.4u.pl KoNiEc -->
        </center>
       
    </div>
</body>
</html>





